@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .beautify-scrollbar::-webkit-scrollbar{
        width: 5px;
        height: 5px;
        background-color: rgba(0, 0, 0, 0);
    }

    .beautify-scrollbar::-webkit-scrollbar-corner{
            background-color: transparent;
    }
    .beautify-scrollbar::-webkit-scrollbar-thumb{
        background-color: rgba(126, 143, 151, 0.5);
    }

    .card {
        @apply  bg-white dark:bg-gray-800 rounded shadow border my-6
    }

    .card-header {
        @apply px-4 md:px-7 py-2 border-b
    }

    .card-body {
        @apply px-4 md:px-7 py-7
    }

    .card-title {
        @apply md:text-lg capitalize font-semibold
    }

}